# cloud-config
# vim: syntax=yaml
---

write_files:
  - path: /var/lib/cloud/instance/freeipa-vars.sh
    permissions: '0400'
    owner: root:root
    content: |
      domain=${domain}
      hostname=${hostname}
